.flip-container {
  }
  
  .flipper {
    position: relative;

    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  
  .flip {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;

    backface-visibility: hidden;
  }
  
  .back {
    transform: rotateY(180deg);
  }
  